.mainBtn {
  background-color: #ffe05d;
}

.iconImage {
  width: 150px;
  margin: auto;
}

.appName {
  font-size: 36px;
  color: #ffe05d;
  font-weight: 600;
  letter-spacing: 2px;
}

#signUpBtn button {
  background-color: white;
  border: 1px solid #ffe05d;
  color: #ffe05d;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
}
