<ion-header>
  <ion-toolbar>
    <ion-title>Amuuse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-grid style="margin-bottom: 50px">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-img
              [src]="'https://i.ibb.co/t33PSGH/star-2.png'"
              class="iconImage"
            ></ion-img>
            <h1 class="appName">Amuuse</h1>
            <p style="font-size: 20px">Where Stars Shine</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" class="mainBtn">Login</ion-button>
          <ion-button expand="block">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
