<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/amuuses"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p class="ion-text-center" style="font-size: 25px">Sign Up</p>

    <ion-list>
      <ion-item>
        <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Confirm password" type="password" [(ngModel)]="conpassword"></ion-input>
      </ion-item>
    </ion-list>
    <br />
    <ion-button expand="block" (click)="signup()">Sign Up</ion-button>

    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <p style="font-size: 15px">Already have an account? <a rel="noopener noreferrer" routerLink="/amuuses/logins">Login</a></p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
