<!-- Comments Malvin: yang ini nggak usah dipake-->
<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>Amuuse</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content class="ion-padding">
  <div class="container">
    <ion-grid style="margin-bottom: 50px">
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-img [src]="'https://i.ibb.co/t33PSGH/star-2.png'" class="iconImage"></ion-img>
            <h1 class="appName">Amuuse</h1>
            <p style="font-size: 20px">Where Stars Shine</p>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <!-- Comments Malvin: tambahan color warning dan link, belum dibuat halamannya-->
          <ion-button color="warning" expand="block" class="mainBtn" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Get started</ion-button>
          <ion-button color="warning" expand="block" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Login</ion-button>
        </ion-col>
      </ion-row>
      <!-- Comments Malvin: tambahan sign up, belum dibuat halaman sign upnya -->
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <p style="font-size: 10px">Don't have an account? <a rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Sign Up</a></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--  <ion-list>-->
  <!--    <ion-item *ngFor="let home of homes">-->
  <!--      <ion-avatar slot="start">-->
  <!--        <ion-img [src]="home.imageUrl"></ion-img>-->
  <!--      </ion-avatar>-->
  <!--      <ion-label>-->
  <!--        {{ home.title }}-->
  <!--      </ion-label>-->
  <!--    </ion-item>-->
  <!--  </ion-list>-->
</ion-content>
