<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="amuusesMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-item lines="none" routerLink="/amuuses/logins">
        <ion-avatar slot="end">
          <img src="https://www.pngitem.com/pimgs/m/522-5220445_anonymous-profile-grey-person-sticker-glitch-empty-profile.png" />
        </ion-avatar>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p class="ion-text-center" style="font-size: 25px">Help</p>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" href="https://facebook.com/joostenszmalvin/">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://youtube.com/vaserlatigo">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://www.instagram.com/vaserlatigo/">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://wa.me/6287878390409">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" href="https://discord.gg/h5aGKW5s">
        <ion-icon name="logo-discord"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
